<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>

<style>
    body {
        background: linear-gradient(90deg, rgb(12, 2, 2), rgb(245, 76, 2));
        font-family: Arial, sans-serif;
        color: #f3c706;
    }

    .file-upload-container {
        max-width: 1400px;
        margin: auto;
        padding: 0 2rem;
        overflow: hidden;
    }
</style>
<body>
<div sec:authorize="hasRole('ROLE_USER')" class="file-upload-container">
    <h2>Hey, you can add only one file less than 30 MB: </h2>
    <form method="POST" enctype="multipart/form-data" th:action="@{/home/addFile}">
        <input type="file" name="addFile">
        <br/><br/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>